@use "abstracts/index" as *;


.sign_up_bg {
  @include media-large {
    &::before {
      display: block;
      position: fixed;
      top: 2vh;
      background: var(--foreground-hex);
      left: 60%;
      content: "";
      width: 39%;
      height: 95vh;
      z-index: -1;
    }
  }
}

.view {
  display: flex;
  flex-direction: column;

  animation: fade 250ms ease-in forwards;

  input[type=text] {
    background: transparent;
    border-bottom: 1px solid black;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  label {
    font-weight: 600;
    font-size: 0.85rem;

    @include media-large {
      font-size: 1rem;
    }
  }
}

.hidden {
  display: none;
}

.active {
  animation: slide 250ms ease-out both;
}

.view_section {
  width: 100%;
}

.form_buttons {
  & > div > button {
    padding: 0.25rem 1.0rem;
    background: var(--foreground-hex);
    border-radius: 5px;
    color: white;
    font-weight: lighter;
    border: none;
  }

  & > button {
    padding: 0.75rem 2.5rem;
    background: var(--foreground-hex);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: none;
  }

  button {
    &:disabled {
      background: var(--background-hex);
      border: 2px solid var(--foreground-hex);
    }
  }
}

.forms_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.image_section {
  align-items: center;
  justify-content: center;
  padding: 1rem;

  & > div {
    height: 20rem;
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
  }
}

@keyframes slide {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.75);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
