@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 75, 103;
  --background-rgb: 0, 132, 150;
  --text-primary-rgb: 0, 192, 220;
  --text-secondary-rgb: 0, 255, 203;

  --foreground-hex: #004b67;
  --background-hex: #008496;
  --text-primary-hex: #00c0dc;
  --text-secondary-hex: #00ffcb;

  --nav-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  /* :root { */
  /*   --foreground-rgb: 214, 205, 245; */
  /*   --background-start-rgb: 0, 0, 0; */
  /*   --background-end-rgb: 0, 0, 0; */
  /*   --backround-rgb: 96, 46, 158; */
  /* } */
}


body {
  background: rgb(var(--background-rgb));
}
