@use "abstracts/index" as *;


.landing_button {
  padding: 0.75rem 2.5rem;
  border-radius: 30px;
  align-self: flex-start;
}

// .background {
//   width: 100%;
//   height: calc(100vh - var(--nav-height));
//   position: absolute;
//   top: var(--nav-height);
//   bottom: 0;
//   background: linear-gradient(
//       to right,
//       rgb(var(--foreground-rgb)),
//       rgb(var(--foreground-rgb))
//     ) left top;
//   background-size: cover;
//   background-position: top;
//   clip-path: polygon(1% 88vh, 99% 88vh, 99.19% 61.51%, 1% 78.28%);
//     // polygon(1% 88vh, 99% 88vh, 99% 30.7%, 1% 78.28%);
//
//   @include media-smol {
//     clip-path: polygon(1% 88vh, 99% 88vh, 99.19% 70.51%, 1% 83.28%);
//   }
//
//   @include media-large {
//     clip-path: polygon(1% 88vh, 99% 88vh, 99.19% 61.51%, 1% 78.28%);
//   }
// }
//
.section {
  max-height: 100vh;
  max-width: 100%;

  .sections {
    width: 100%;
  }

  .image_section {
    color: white
  }
}

.pageImages {
  width: 60%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
